<section class="user-profile section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="widget personal-info">
          <h3 class="widget-header user">新パスワード入力</h3>
          <%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              
                <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.label :メールアドレス %><br />
              <%= @user.email %>
            </div>
            <div class="form-group">
              <%= f.label :パスワード %><br />
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :パスワード（確認） %><br />
              <%= f.password_field :crypted_password, class: "form-control" %>
            </div>
              <%= f.submit "パスワードリセット", class: "btn btn-transparent" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

