
  <div class="col-sm-12 col-lg-3">
    <div class="product-item bg-light">
      <div class="card">
        <div class="thumb-content">
          <%= link_to(board_path(board.id)) do %>
            <% if board.image.present? %>
                <%= image_tag board.image, class: "card-img-top img-fluid" ,style: "width: 300px; height:200px;" %>
            <% else %>
                <%= image_tag "sample.jpg", class: "card-img-top img-fluid" ,style: "width: 300px; height:200px;" %>
            <% end %>
          <% end %>
        </div>
        <div class="card-body">
          <h4 class="card-title" style='display: inline;'>
            <a href='#'></a>
            <%= link_to board.title, board_path(board.id) %>
          </h4>
          <div>
          <% if board.user_id != current_user.id %>
            <div class="product-ratings" style='display: inline; float: right;'>
              <%= render "follow", board: board %>
            </div>
          <% end %>
          </div>
          <div class='edit_board_btn mr10' style='display: inline; float: right;'>
          <% if board.user_id == current_user.id %>
            <%= link_to board_path(board.id), method: :delete, data: {confirm: "削除しますか？"} do %>
              <i class='fas fa-trash-alt mr10' aria-hidden='true'></i>
            <% end %>
            <%= link_to edit_board_path(board.id) do %>
              <i class='fas fa-pencil-alt'></i>
            <% end %>
          <% end %>
          </div>
          <ul class="list-inline product-meta">
            <li class="list-inline-item">
              <%= link_to(board_path(board.id)) do %>
                <i class='far fa-user'></i><%= board.user.decorate.full_name %>
              <% end %>
              
            </li>
            <li class="list-inline-item">
              <i class="far fa-calendar-alt"></i>
              15th March
            </li>
          </ul>
          <p class="card-text"><%= board.content %></p>
        </div>
      </div>
    </div>
  </div>