<% comments.each do |comment| %>
<div class="widget dashboard-container my-adslist">
<table class="table product-dashboard-table">
  <tr>
    <td class="product-thumb">      
    <% if comment.user.image %>
        <%= image_tag comment.user.image, class: "rounded-circle", width: "50px" %>
    <% else %>
        <img src='sample.jpg' class='rounded-circle' width='50px'>
    <% end %>
    </td>
    <td class="product-details">
      <h3 class="title"><%= comment.user.decorate.full_name %></h3>
      <div class="comment_text" id="comment_<%= comment.id %>" >
        <%= comment.content %>
      </div>
    </td>
    <td class="action" data-title="Action">
    <% if comment.user_id == current_user.id %>
      <ul class="list-inline justify-content-center" style='float: right;'>
        <li class="list-inline-item edit_comment_btn">
          <%= link_to edit_board_comment_path(board_id: comment.board_id, id: comment.id),remote: true do %>
          <button type='button' class='edit'><i class='fa fa-clipboard'></i></button>
          <% end %>
        </li>
        <li class="list-inline-item">
        <%= link_to board_comment_path(board_id: comment.board_id, id: comment.id), method: :delete, remote: true, class: "delete" do %>
            <i class='fa fa-trash'></i>
        <% end %>
        </li>
      </ul>
    <% end %>
    </td>
  </tr>
</table>
</div>
<% end %>