<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-result bg-gray">
          <h2>お知らせ一覧</h2>
          <strong>表示条件</strong>
          <select name="search" onchange="myfunc(this.value)">
            <% if params[:option] == "A" || params[:option] == nil %>
            <option value="A" selected="selected"><%= t '.all' %></option>
            <option value="B"><%= t '.only_boards' %></option>
            <option value="O"><%= t '.only_comments' %></option>
            <% elsif params[:option] == "B" %>
            <option value="A"><%= t '.all' %></option>
            <option value="B" selected="selected"><%= t '.only_boards' %></option>
            <option value="O"><%= t '.only_comments' %></option>
          <% elsif params[:option] == "O" %>
            <option value="A"><%= t '.all' %></option>
            <option value="B"><%= t '.only_boards' %></option>
            <option value="O" selected="selected"><%= t '.only_comments' %></option>
          <% end %>
          <script type="text/javascript">
            function myfunc(value) {
              window.location.replace('/?option=' + value);
            }
          </script>
        </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="product-grid-list">
          <div class="row mt-30">
            <div class="col-sm-12" style="overflow: scroll; height: 400px;">
              <div class="product-item bg-light">
                <div class="card">
                  <div class="card-body">
                    <div class="widget dashboard-container my-adslist">
                      <table class="table product-dashboard-table">
                      <% @notifications.each do |n| %>
                        <% if n.notificable_type == "Board" && n.notificable.user_id != current_user.id %>
                          <td>
                              <%= render "board", n: n %>
                          </td>
                        <% elsif n.notificable_type == "Comment" && n.notificable.board.user_id == current_user.id %>
                          <td>
                              <%= render "comment", n: n %>
                          </td>
                        <% end %>
                      <% end %>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

