<div class="container col-md-10 offset-md-1 col-lg-8 offset-lg-2">
  <div class="widget change-password">
    <h3 class="widget-header user"><%= t 'users.new.login' %></h3>
    <%= form_tag(user_sessions_path, method: :post) do %>
      <div class="form-group">
          <label for='email'><%= t 'users.new.mail' %></label><br />
          <%= text_field_tag "email","", class:"form-control"  %>
          
        </div>
        <div class="form-group">
          <label for='password'><%= t 'users.new.password' %></label><br />
          <%= password_field_tag "password", "", class: "form-control" %>
          
        </div>
        <%= submit_tag "#{t 'users.new.login'}", class: "btn btn-transparent" %>
        
      <% end %>
    </div>
  </div>
  <div class='text-center'>
    <a href='/users/new' class='mr15'><%= t 'user_sessions.new.registration_link' %></a>
    <a href='#'><%= t 'users.new.forget_password' %></a>
  </div>
</div>

